/* src/styles/PdfViewer.module.css */

.pdf-container {
    padding: 20px;
    background-color: #f3f4f6;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.pdf-preview {
    background-color: #ffffff;
    border-radius: 6px;
    padding-bottom: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: auto;
}

.pdf-document {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%; /* Make sure the PDF takes full width */
    height: auto; /* Auto adjust height to maintain aspect ratio */
}

.pdf-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    position: absolute;
    bottom: 10px;
}

.btn {
    background-color: #3182ce;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:disabled {
    background-color: #cbd5e0;
    cursor: not-allowed;
}

.btn:hover:not(:disabled) {
    background-color: #2b6cb0;
}

.page-info {
    font-size: 16px;
    color: #2d3748;
    text-align: center;
}

.pdf-alt {
    text-align: center;
    font-size: 14px;
    color: #2d3748;
    margin-top: 10px;
}
